$cookies-bar-background-color:    #f2f2f2 !default;
$cookies-bar-border-color:        #e4e4e4 !default;
$cookies-bar-button-color:        #4d90fe !default;
$cookies-bar-button-color2:       #4787ed !default;
$cookies-bar-button-border-color: #3079ed !default;

$cookies-bar-line-height:         40px !default;
