$cookies-bar-position:         bottom !default; // or top
$cookies-bar-background-color: #f2f2f2 !default;
$cookies-bar-text-color:       #333333 !default;
$cookies-bar-link-color:       $cookies-bar-text-color !default;
$cookies-bar-btn-color:        #777777 !default;
$cookies-bar-btn-text-color:   #ffffff !default;
$cookies-bar-line-height:      40px !default;
