@import "eu_cookies/variables";

.eu-cookies {
  position: fixed;
  left: 0;
  #{$cookies-bar-position}: 0;
  line-height: $cookies-bar-line-height;
  background: $cookies-bar-background-color;
  border-top: 1px solid $cookies-bar-border-color;
  width: 100%;
  z-index: 999;
  text-align: center;

  .eu-cookies-content-holder {
    display: inline-block;
    padding: 0 20px;
    line-height: 26px;
  }
  .eu-cookies-button-holder {
    display: inline-block;
    padding-right: 20px;

    .eu-cookies-ok {
      background-color: $cookies-bar-btn-color;
      background-image: -webkit-linear-gradient(top, $cookies-bar-btn-color, $cookies-bar-btn-color2);
      border: 1px solid $cookies-bar-btn-border-color;
      border-radius: 2px;
      color: #fff;
      cursor: default;
      display: inline-block;
      font-size: 11px;
      font-weight: bold;
      height: 24px;
      line-height: 20px;
      margin-right: 0px;
      min-width: 26px;
      outline: 0;
      padding: 0 11px;
      text-align: center;
      white-space: nowrap;
      margin: 0 5px;
    }
  }
}

@media (max-width: 767px){
  .eu-cookies{
    position: static;
    font-size: 12px;
    line-height: 20px;
    .eu-cookies-content-holder{
      line-height: 16px;
      padding: 5px 20px;
    }
    .eu-cookies-button-holder{
      padding-bottom: 5px;
    }
  }
}
