<div class="cookies-eu">
  <span class="cookies-eu-content-holder">
    <%= t('cookies_eu.cookies_text') %>
  </span>
  <span class="cookies-eu-button-holder">
    <button class="cookies-eu-ok">
      <%= t('cookies_eu.ok') %>
    </button>
    <% if link = local_assigns[:link].presence %>
      <%= link_to t('cookies_eu.learn_more'), link, class: 'cookies-eu-link' %>
    <% end %>
  </span>
</div>
